/* ======================================
  MIXIN
====================================== */
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
@mixin transit($property){
  @if($property) == 0 {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition:all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
  } @else {
    -webkit-transition: $property;
    -moz-transition:$property;
    -ms-transition: $property;
    transition: $property;
  }
}
@mixin transform($property){
  -webkit-transform: $property;
  -moz-transform:$property;
  -ms-transform: $property;
  transform: $property;
}
@mixin animate($property){
  -webkit-animation: $property;
  -moz-animation:$property;
  -ms-animation: $property;
  animation: $property;
}
@mixin keyframe($name){
  @-webkit-keyframes #{$name} {@content;}
  @-moz-keyframes #{$name} {@content;}
  @-ms-keyframes #{$name} {@content;}
  @keyframes #{$name} {@content;}
}
// [A]LL [B]ROW[S]ER
@mixin abs($style,$property){
  -webkit-#{$style}:$property;
  -moz-#{$style}:$property;
  -ms-#{$style}:$property;
  #{$style}:$property;
}
@mixin smoothfont{-webkit-font-smoothing: antialiased;}
@mixin webkit-radius(){
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
}
@mixin reset-input {
  border:none;
  -webkit-appearance: none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  padding: 0;
  border-radius: 0;
  &:focus{
    outline: none;
  }
}
@mixin flexbox($value) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-width: 100%;
  @include abs(flex-wrap,$value);
}
@mixin flex($value) {
  -webkit-box-flex: $value;
  -moz-box-flex:  $value;
  -webkit-flex:  $value;
  -ms-flex:  $value;
  flex:  $value;
}

/* ======================================
  SHARE CSS
====================================== */
*{box-sizing:border-box;}
a,a:hover{text-decoration: none;color:inherit;}
*,*:focus{outline: none;}
img{-webkit-backface-visibility: hidden;-webkit-transform: translateZ(0) scale(1.0, 1.0);display: block;max-width: 100%;}
.clear,.clearfix:after{clear:both; height:0px; overflow:hidden;}
.clearfix:after{content: "";display: block;}
.floatL {float:left;}
.floatR {float:right;}
.floatN{float:none;}
.txtL {text-align:left!important;}
.txtR {text-align:right!important;}
.txtC{text-align:center!important;}
.grayImg {
  /*-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%); filter: grayscale(100%); */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  }

/* custom color placeholder */
.input-txt::-webkit-input-placeholder {color: #a6a6a6;}
.input-txt:-moz-placeholder { /* Firefox 18- */color: #a6a6a6;}
.input-txt::-moz-placeholder {  /* Firefox 19+ */color: #a6a6a6;}
.input-txt:-ms-input-placeholder {color: #a6a6a6;}

/* remove arrow input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}

/* custom color autocomplete */
@mixin autocomplete_color($bg,$txt){
  input:-webkit-autofill{-webkit-box-shadow:0 0 0 50px $bg inset; -webkit-text-fill-color: $txt;}
  input:-webkit-autofill:focus{-webkit-box-shadow: 0 0 0 50px $bg inset;-webkit-text-fill-color: $txt;}
}
@include autocomplete_color(#fff,#000);
a{@include transit(0);}

// SELECTBOX
.selectbox{
  position: relative;
  &.show-options{
    .sb-options{
      visibility: visible;
      opacity: 1;
    }
  }
  .sb-selector{
    display: block;
    width: 100%;
  }
  .sb-options{
    position: absolute;
    top:100%;left: 0;
    visibility: hidden;
    opacity: 0;
  }
}

// TABBOX
.tabbox{
  .tb-item{
    opacity: 0;
    @include transit(opacity 500ms ease);
    &.active{
      opacity: 1;
    }
  }
}

// ACCORDION
.accordionbox{
  .ab-label{
    cursor: pointer;
  }
  .ab-content{
    display: none;
  }
}

// UNIVERSAL ELEMENT
h1,h2,h3,h4,h5,h6,p,ul,ol,
.box-btn{
  margin: 15px 0;
}
ul{
  list-style:disc outside none;
}
ol{
  list-style:decimal outside none;
}

button{
  @include reset-input;
  cursor: pointer;
}
.w-100{
  width: 100%;
}
.bg-white{
  background-color: #fff;
}
.txt-red{
  color:#f00;
}
.txt-white{
  color:#fff;
}
iframe{
  display: block;
}