/* ======================================
  Font Type
====================================== */
@font-face {
	font-family: 'rsubold';
	src: url('fonts/rsu_bold.eot');
	src: url('fonts/rsu_bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/rsu_bold.woff2') format('woff2'),
	url('fonts/rsu_bold.woff') format('woff'),
	url('fonts/rsu_bold.ttf') format('truetype'),
	url('fonts/rsu_bold.svg#rsubold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'rsulight';
	src: url('fonts/rsu_light.eot');
	src: url('fonts/rsu_light.eot?#iefix') format('embedded-opentype'),
	url('fonts/rsu_light.woff2') format('woff2'),
	url('fonts/rsu_light.woff') format('woff'),
	url('fonts/rsu_light.ttf') format('truetype'),
	url('fonts/rsu_light.svg#rsulight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'rsuregular';
	src: url('fonts/rsu_regular.eot');
	src: url('fonts/rsu_regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/rsu_regular.woff2') format('woff2'),
	url('fonts/rsu_regular.woff') format('woff'),
	url('fonts/rsu_regular.ttf') format('truetype'),
	url('fonts/rsu_regular.svg#rsuregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ======================================
  STYLE VARIABLES
====================================== */
$fa : 'fontawesome';
$rsu : 'rsuregular',Sans-serif;
$rsu-bold : 'rsubold',Sans-serif;
$rsu-light : 'rsulight',Sans-serif;
$blue : #25aae0;
$red : #eb2127;

/* ======================================
  GLOBAL CSS
====================================== */
body{
	font-family: $rsu,sans-serif;
	font-size: 20px;
	line-height: 1.4;
	color:#707070;
	@include media-breakpoint-down(md) {
		font-size: 18px;
	}
}
h1,h2,h3,h4,h5,h6,strong,b{
  font-family: $rsu-bold;
  font-weight: 400;
}

// FORM
.form{
	.input-txt{
		@include reset-input;
		width: 100%;
		margin-bottom: 20px;
		background-color: #fff;
		padding: 7px 10px;
		&.error{
			box-shadow: 0 0 0 1px #f00;
		}
	}
	select.input-txt{
		background: url('../img/icon_down.svg') right 10px top 50%/14px auto no-repeat #fff;
		color:#999;
	}
	.box-input{
		&.short{
			width: 100%;
			max-width: 340px;
			display: inline-block;
			.input-txt{
				margin-bottom: 0;
			}
		}
	}
	.label-item{
		display: inline-block;
		margin: 0 20px 10px 0;
		cursor: pointer;
		&:hover{
			input[type="checkbox"]+.txt,
			input[type="radio"]+.txt{
				&:before{
					background-color: #ddd;
				}
			}
		}
		input[type="checkbox"],
		input[type="radio"]{
			position: absolute;
			opacity: 0;
			&:checked+.txt{
				&:before{
					background-color: #999;
					box-shadow: 0 0 3px #333;
				}
			}
		}
		input[type="radio"]+.txt{
			&:before{
				background-color: #fff;
				width: 18px;height: 18px;
				border-radius: 50%;
				border:3px solid #fff;
				content: "";
				display: inline-block;
				position: absolute;
				top:3px;left: 0;
			}
		}
		.txt{
			display: inline-block;
			padding-left: 25px;
			position: relative;
		}
		// FOR CHECKBOX
		input[type="checkbox"]{
			&:checked+.txt{
				&:before{
					background-color: #fff;
					content:"\f00c";
					box-shadow: 0 0 2px 1px rgba(0,0,0,0.15);
					color:#999;
					border:none;
				}
			}
		}
		input[type="checkbox"]+.txt{
			&:before{
				font-family: $fa;
				background-color: #fff;
				width: 18px;height: 18px;
				border:3px solid #fff;
				content: "";
				display: inline-block;
				position: absolute;
				top:3px;left: 0;
				line-height: 18px;
				font-size: 16px;
				text-align: center;
			}
		}
	}
}

// HEAD SECTION
.txt-head{
	font-family: $rsu-bold;
	font-size: 36px;
	@include media-breakpoint-down(md) {
		font-size: 26px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 24px;
	}
}
.head-section{
	text-align: center;
	color:#fff;
	padding: 15px 0 5px 0;
	line-height: 1;
	@include media-breakpoint-down(sm) {
		padding: 10px 0 5px 0;
	}
	@extend .txt-head;
	&.dark{
		padding: 0;
		color:#707070;
	}
	.home &{
		background-color: $blue;
		margin: 0;
	}
}

// BTN
.btn-red{
	background-color: #ec1c24;
	border-radius: 5px;
	font-weight: 700;
	font-size: 22px;
	color:#fff;
	padding: 10px 30px;
	display: inline-block;
	border:1px solid #ec1c24;
	@include media-breakpoint-down(md) {
		font-size: 20px;
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
		max-width: 340px;
	}
	&:hover{
		background-color: #fff;
		color:#ec1c24;
		//background-color: #DA060A;
	}
	strong{
		display: inline-block;
		vertical-align: middle;
	}
	.fa-angle-double-right{
		vertical-align: middle;
		margin-top: -2px;
	}
}

.box-content{
	margin: 30px 0;
	@include media-breakpoint-down(sm) {
		margin: 15px 0;
	}
}
.line-divider{
	background-color: #d7d7d7;
	width: calc(100% - 30px);height: 1px;
	margin: 15px auto;
}

// TAG
.tag-list{
	list-style: none;
	padding: 0;
	margin-left: -5px;
	margin-right: -5px;
	li{
		margin: 5px;
		display: inline-block;
		&.active{
			a,a:hover{
				background: $red;
				color:#fff;
			}
		}
		a{
			background-color: #ebebeb;
			display: block;
			color:#707070;
			border-radius: 5px;
			padding: 3px 8px;
			&:hover{
				background-color: #707070;
				color:#fff;
			}
		}
	}
}

// FANCYBOX
.fancybox-close{
	background: url('../img/x.svg') 50% 50%/40px auto no-repeat;
	top:-50px;right: 0;
	width: 40px;height: 40px;
	@include media-breakpoint-down(sm) {
		background: url('../img/x.svg') 50% 50%/30px auto no-repeat;
		top:-40px;right: 0;
		width: 30px;height: 30px;
	}
}

.box-map{
	.home &{
		height: 400px;
	}
	iframe{
		width: 100;height: 100%;
	}
}

/* ======================================
  LAYOUT CSS
====================================== */
html{
	&.show-menu{
		overflow-x:hidden;
		overflow-y: scroll;
		width: 100%;height: 100%;
		body{
			overflow:hidden;
			width: 100%;height: 100%;
		}
	}
}
// HEADER
.main-header{
	background-color: #fff;
	@include media-breakpoint-down(md) {
		border-bottom: 1px solid #d7d7d7;
	}
	.top-bar{
		padding: 20px 0;
		@include media-breakpoint-down(sm) {
			padding: 15px 0;
		}
	}
	.logo{
		display: block;
		width: 220px;
		@include media-breakpoint-down(sm) {
			width: 140px;
		}
	}
	.box-right{
		@include flexbox(wrap);
		align-items:center;
		justify-content:flex-end;
	}
	.frm-search{
		position: relative;
		max-width: 300px;
		flex:0 0 300px;
		.input-txt{
			font-family: $rsu;
			height: 40px;
			border:1px solid #d7d7d7;
			padding: 5px 40px 5px 10px;
			width: 100%;
			margin-bottom: 0;
			&:focus{
				border-color: #aaa;
			}
		}
		.btn-search{
			background: url('../img/icon_search.svg') 50% 50%/28px auto no-repeat;
			width: 30px;height: 30px;
			position: absolute;
			top:50%;right: 5px;
			z-index: 2;
			margin-top: -15px;
		}
	}
	.lang-selection{
		flex:0 0 auto;
		margin-left: 20px;
		a{
			font-family: $rsu;
			font-size: 22px;
			display: inline-block;
			vertical-align: middle;
			padding: 0 5px;
			&.active,
			&:hover{
				color:$blue;
			}
		}
		.divider{
			width: 2px;height: 22px;
			background-color: #cbcbcb;
			display: inline-block;
			vertical-align: middle;
			margin-top: -2px;
		}
	}
	.btn-menu{
		width: 40px;height: 40px;
		position: relative;
		display: block;
		float: right;
		&:active{
			background-color: #eee;
		}
		span{
			background-color: #707070;
			width: 30px;height: 3px;
			position: relative;
			display: block;
			top:50%;left: 50%;
			margin-left: -15px;
			&:before,
			&:after{
				background-color: inherit;
				content:"";
				width: 100%;height: 100%;
				display: block;
				position: relative;
				margin-top: -1.5px;
			}
			&:before{top:-10px;}
			&:after{top: 9px;}
		}
	}
	.btn-menu-close{
		background:url('../img/x.svg') 50% 50%/100% auto no-repeat;
		width: 40px;height: 40px;
		position: absolute;
		display: block;
		border-radius: 50%;
		top:15px;right: 215px;
		@include transit(300ms all 100ms ease);
		@include transform(translateX(255px));
		@include media-breakpoint-up(md) {
			top:25px;right:305px;
			@include transform(translateX(345px));
		}
		@include media-breakpoint-up(lg) {
			display: none;
		}
		.show-menu &{
			@include transform(translateX(0));
			@include transit(300ms all 100ms ease);
		}
	}
}

// MAIN NAV
.main-nav{
	background-color: #28303c;
	text-align: center;
	position: relative;
	@include transit(none);
	@include media-breakpoint-down(md) {
		background-color: transparent;
		background-color: rgba(0,0,0,0.8);
		position: fixed;
		top: 0;left: 0;
		width:100%;height: 100%;
		overflow: hidden;
		z-index: 99;
		opacity: 0;
		visibility: hidden;
		@include transit(300ms all 350ms ease);
		.show-menu &{
			opacity: 1;
			visibility: visible;
			@include transit(300ms all ease);
		}
	}
	.inner{
		@include media-breakpoint-down(md) {
			background-color: $blue;
			position: absolute;
			top: 0;right: 0;
			height: 100%;
			overflow:auto;
			padding-bottom: 20px;
			@include transit(300ms all 100ms ease);
			width: 290px;
			@include transform(translateX(345px));
			.show-menu &{
				@include transit(300ms all 100ms ease);
				@include transform(translateX(0));
			}
		}
		@include media-breakpoint-down(sm) {
			width:200px;
			@include transform(translateX(255px));
		}
	}
	.menu{
		a{
			display: inline-block;
			font:400 20px/1 $rsu-bold;
			color:#fff;
			padding: 15px 30px;
			position: relative;
			@include media-breakpoint-down(md) {
				display: block;
				padding: 18px 20px;
				text-align: right;
				border-top:1px solid #1b9fd5;
				box-shadow: 0 -1px 0 0 #29c1ff;
			}
			&:hover,
			&.active{
				color:$blue;
				@include media-breakpoint-down(md) {
					background-color:#fff;
				}
			}
			&:first-child{
				box-shadow: none;
				&:before{
					display: none;
				}
			}
			&:before{
				background-color: #3b485c;
				display: block;
				width: 2px;height: 12px;
				content: "";
				margin-top: -6px;
				position: absolute;
				top:50%;left:-1px;
				@include media-breakpoint-down(md) {
					display: none;
				}
			}
		}
	}
	.lang-selection{
		background-color:#fff;
		padding: 20px;
		margin: 0;
		text-align: right;
		@include media-breakpoint-up(md) {
			padding: 31px;
		}
	}
	.box-social{
		text-align: right;
		padding: 0 20px;
	}
}

// FOOTER
.main-footer{
	.copyright-bar{
		background-color: $blue;
	}
	.copyright{
		text-align: center;
		color:#fff;
		a{
			color:#fff;
		}
		img{
			display: inline-block;
			margin-left: 5px;
		}
	}
}

// FOOTERNAV
.footer-nav{
	background-color: #606060;
	padding: 20px 0;
	a{
		display: block;
		color:#fff;
		&:hover{
			opacity: 0.8;
		}
	}
	.menu-item{
		margin-bottom: 20px;
	}
	.head{
		font-weight: 700;
		color:#fff;
	}
	.menu{
		margin: 0 -15px;
		padding: 0;
		@include flexbox(wrap);
		.group{
			width: auto;
			flex:1 0 auto;
			list-style: none;
			padding:  0 0 0 30px;
			margin-bottom: 15px;
			@include media-breakpoint-down(md) {
				width: 25%;
				flex:0 0 25%;
				padding: 0 15px;
				margin-bottom: 0;
			}
			@include media-breakpoint-down(sm) {
				width: 50%;
				flex:0 0 50%;
			}
			&.sublast{
				@include media-breakpoint-down(sm) {
					width: 100%;
					flex:1 0 auto;
					padding: 0;
					.menu-item{
						width: 50%;
						flex:0 0 50%;
						float: left;
						padding: 0 15px;
					}
				}
			}
			&.last{
				width: 100%;
				flex:1 0 auto;
				justify-content:end;
				@include media-breakpoint-down(sm) {
					width: auto;
					flex:1 0 auto;
					justify-content:start;
				}
			}
		}
		.submenu{
			padding-left: 20px;
			margin-top: 0;
			li{
				color:#fff;
				margin: 5px 0;
			}
		}
	}
	.box-social{
		float: right;
		margin-top: -25px;
		@include media-breakpoint-down(sm) {
			float: none;
			margin-top: 0;
		}
		.head{
			margin-bottom: 10px;
		}
		.item{
			.fa{
				color:#707070;
			}
		}
	}
	.box-logo{
		display: inline-block;
		@include media-breakpoint-down(sm) {
			margin: 15px -8px;
			@include flexbox(wrap);
		}
		.item{
			display: inline-block;
			margin-right: 30px;
			width: 56px;
			@include media-breakpoint-down(sm) {
				margin-right: 0;
				flex:0 1 64px;
				padding: 0 8px;
				width: 64px;
			}
		}
	}
}

// ARTICLE ITEM
.slick-slide{
	.article-item{
		height: calc(100% - 60px);
		@include flexbox(nowrap);
		@include abs(flex-flow,column);
		&>a{
			display: block;
			flex:1 0 auto;
		}
	}
}
.article-item{
	position: relative;
	padding: 0 15px;
	margin-bottom: 50px;
	height: calc(100% - 50px);
	@include media-breakpoint-down(md) {
		padding: 0;
		margin-bottom: 25px;
		height: auto;
	}
	&:hover{
		.box-img img{
			filter:brightness(110%);
		}
	}
	// NEWS
	&.news-item{
		.summary{
			margin-top: 0;
		}
	}
	// VDO
	&.vdo-item{
		&:hover{
			.box-img{
				&:after{
					background-color: rgba(0,0,0,0);
				}
			}
		}
		.box-img{
			&:after{
				background: url('../img/icon_play.svg') 50% 50%/60px auto no-repeat rgba(0,0,0,0.2);
				position: absolute;
				top:0;left:0;
				width: 100%;height: 100%;
				z-index: 2;
				content: "";
				@include transit(0);
				@include media-breakpoint-down(sm) {
					background-size: 44px auto;
				}
			}
		}
	}
	// PIN ITEM
	&.pin-item{
		background-color: #fff;
		padding: 10px;
		margin-bottom: 60px;
		box-shadow: 0 0 5px 3px rgba(0,0,0,0.35);
		&:before{
			background-image: url('../img/pin.png');
			background-size: 63px auto;
			background-position: 0 0;
			background-repeat: no-repeat;
			position: absolute;
			left: 50%;top:-33px;
			width: 63px;height: 47px;
			display: block;
			content: "";
			margin-left: -31px;
			@include media-breakpoint-down(sm) {
				background-size: 50px auto;
				top:-25px;
				width: 50px;height: 37px;
				margin-left: -25px;
			}
		}
		.date{
			font-size: 18px;
			bottom:0;top:auto;
			z-index: 2;
			-webkit-transform: translate3d(0,0,0);
			-webkit-backface-visibility: hidden;
							backface-visibility: hidden;
			@include media-breakpoint-down(md) {
				.event &{
					font-size: 18px;
				}
			}
			@include media-breakpoint-down(sm) {
				padding: 4px 8px;
				.event &{
					padding: 5px 8px;
				}
			}
			strong{
				font-family: inherit;
				line-height: inherit;
				display: inline;
				font-size: 18px;
				@include media-breakpoint-down(md) {
					.event &{
						font-size: 18px;
					}
				}
			}
		}
		.box-txt{
			padding: 0 8px;
			@include media-breakpoint-down(md) {
				padding: 0 4px;
			}
		}
		.headline,
		.summary{
			.timeline-container &{
				height: auto;
				overflow: auto;
			}
		}
		.badge{
			font-family: $rsu;
			position: absolute;
			top:-35px;right: -20px;
			width: 80px;height: 80px;
			z-index: 9;
			color:#fff;
			font-size: 30px;
			text-align: center;
			border-radius: 50%;
			-webkit-backface-visibility: hidden;
			@include transform(translateZ(0) scale(1.0, 1.0) rotate(35deg));
			box-shadow: 0 0 5px rgba(0,0,0,0.5);
			@include media-breakpoint-down(sm) {
				right: -15px;
			}
			.txt{
				position: absolute;
				top:50%;left: 0;
				width: 100%;
				line-height: 1;
				@include transform(translateY(-50%));
			}
			&.now{
				background-color: $red;
			}
			&.coming-soon{
				background-color: $blue;
				font-size: 18px;
			}
		}
	}
	>a{
		position: relative;
		width: 100%;height: 100%;
		@include flexbox(wrap);
		@include abs(flex-flow,column);
	}
	.box-img,.box-txt{
		background-color: #fff;
	}
	&:not(.nowrap){
		>a{
			@include media-breakpoint-only(md) {
				@include abs(flex-flow,row);
			}
		}
		.box-img,.box-txt{
			@include media-breakpoint-only(md) {
				width: 50%;
				flex:1 0 50%;
			}
		}
	}
	.box-img{
		display: block;
		position: relative;
		overflow: hidden;
		img{width: 100%;}
	}
	.box-txt{
		display: block;
		@include abs(flex,1 0 auto);
		font-size: 18px;
		&.border{
			border:1px solid #d7d7d7;
			padding: 10px 18px;
		}
	}
	.headline{
		font-size: 22px;
		@include media-breakpoint-down(md) {
			font-size: 20px;
		}
	}
	.txt-readmore{
		color:$blue;
		.txt{
			text-decoration: underline;
		}
	}
	.date{
		background-color: $blue;
		display: block;
		color:#fff;
		font-size: 16px;
		text-align: center;
		padding: 8px;
		position: absolute;
		top:0;left:0;
		z-index: 2;
		font-family: $rsu;
		strong{
			font-family: $rsu-bold;
			font-size: 45px;
			display: block;
			line-height: 0.8;
			@include media-breakpoint-down(md) {
				font-size: 36px;
			}
		}
	}
}

// FORM CONTACT
.frm-contact{
	background-color: #ebebeb;
	padding: 30px 0;
	@include media-breakpoint-down(sm) {
		padding: 15px 0;
	}
	.head{
		font-family: $rsu-bold;
		font-size: 30px;
		@include media-breakpoint-down(sm) {
			font-size: 20px;
		}
	}
	.input-txt{
		@include reset-input;
		background-color: #fff;
		padding: 8px 10px;
		width: 100%;
		margin-bottom: 20px;
	}
}

// BREADCRUMB
.breadcrumb{
	background-color: #fff;
	font-size: 16px;
	padding: 25px 0;
	@include media-breakpoint-down(sm) {
		padding: 15px 0;
		font-size: 14px;
	}
	a{
		color:$blue;
		text-decoration: underline;
		&:after{
			font-family: $fa;
			content: '\f101';
			margin-left: 10px;
			display: inline-block;
		}
	}
}

// SHARE
.box-share{
	.item{
		background-color: #606060;
		display: inline-block;
		vertical-align: middle;
		width: 40px;height: 40px;
		text-align: center;
		padding: 5px;
		border-radius: 50%;
		margin: 5px 2px;
		&:hover{
			opacity: 0.8;
		}
		.fa{
			color:#fff;
			line-height: 30px;
			font-size: 22px;
		}
		img{
			max-width: 24px;
			margin: 3px;
		}
	}
}

// SOCIAL
.box-social{
	&.dark{
		.item{background-color: #707070;
			.fa{
				color:#fff;
			}
		}
	}
	.item{
		background-color: #fff;
		display: inline-block;
		vertical-align: middle;
		width: 40px;height: 40px;
		text-align: center;
		padding: 5px;
		border-radius: 50%;
		margin: 5px 2px;
		.fa{
			color:$blue;
			line-height: 30px;
			font-size: 22px;
		}
		img{
			max-width: 24px;
			margin: 3px;
		}
	}
}

// PAGINATION NAV
.pagination-nav{
	margin: 30px 0;
	[class^="btn-arrow"]{
		background-size: 40px auto;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: block;
		width: 48px;height: 48px;
		color:#fff;
		font-size: 40px;
		text-align: center;
		line-height: 48px;
		@include media-breakpoint-down(md) {
			width: 40px;height: 40px;
			line-height: 40px;
		}
		@include media-breakpoint-down(sm) {
			background-size: 35px auto;
			width: 35px;height: 35px;
			line-height: 35px;
		}
		&:hover{
			opacity: 0.85;
		}
		&.btn-arrow-prev{
			background-image: url('../img/icon_arrow-left-blue.svg');
			float: left;
			@include media-breakpoint-down(md) {
				background-position: 0 50%;
			}
		}
		&.btn-arrow-next{
			background-image: url('../img/icon_arrow-right-blue.svg');
			float: right;
			@include media-breakpoint-down(md) {
				background-position: 0 100%;
			}
		}
	}
	.page{
		padding: 0;
		margin: 8px 0;
		list-style: none;
		text-align: center;
		@include flexbox(wrap);
		justify-content:center;
		@include media-breakpoint-down(md) {
			margin-left: -15px;
			margin-right: -15px;
		}
		@include media-breakpoint-down(sm) {
			margin-left: -20px;
			margin-right: -20px;
		}
		li{
			flex:0 1 auto;
			display: inline-block;
			margin: 0;
			border-left: 1px solid #707070;
			&:first-child{
				border: none;
			}
			a,span{
				display: block;
				padding: 0 8px;
				@include media-breakpoint-down(md) {
					padding: 0 16px;
				}
			}
			a{
				color:#707070;
				&:hover{
					color:$blue;
				}
			}
			span{
				color:$blue;
			}
		}
	}
}

// PAGE HEADER BANNER
.header-page-banner{
	margin-bottom: 30px;
	@include media-breakpoint-down(md) {
		margin-bottom:20px;
	}
	&.style2{
		.inner{
			background: url('../img/bg_blue.jpg') 50% 50%/cover no-repeat;
		}
	}
	.inner{
		background: url('../img/bg_blue-line.jpg') 50% 50%/cover no-repeat;
		padding: 20px 0;
		@include media-breakpoint-down(md) {
			background: url('../img/bg_blue-mobile.jpg') 50% 0/100% auto no-repeat;
			padding:10px 0;
		}
		@include media-breakpoint-down(xs) {
			background: url('../img/bg_blue-mobile.jpg') 50% 0/150% auto no-repeat;
		}
	}
	.head-page{
		font-size: 36px;
		font-family: $rsu-bold;
		color:#fff;
		@include media-breakpoint-down(md) {
			font-size: 26px;
		}
		@include media-breakpoint-down(sm) {
			font-size: 20px;
		}
	}
	.page-intro{
		background-color: #fff;
		position: relative;
		margin: 60px 0 30px 0;
		@include media-breakpoint-down(md) {
			background-color: transparent;
			text-align: center;
			margin: 45px 0 0 0;
		}
		@include media-breakpoint-down(sm) {
			margin: 35px 0 0 0;
		}
		.box-img{
			position: absolute;
			top:-15px;left:-30px;
			padding-right: 90px;
			@include media-breakpoint-down(md) {
				position: relative;
				top:0;left:0;
				display: inline-block;
			}
			@include media-breakpoint-down(sm) {
				padding-right: 60px;
			}
			.img-item{
				background-color: #fff;
				position: relative;
				padding: 8px 8px 60px 8px;
				display: inline-block;
				box-shadow:1px 1px 5px 1px rgba(0,0,0,0.3);
				@include transform(rotate(-5deg));
				z-index: 2;
				@include media-breakpoint-down(sm) {
					padding-bottom: 40px;
				}
				.img{
					width: 368px;
					@include media-breakpoint-down(sm) {
						width: 240px;
					}
				}
				.txt{
					position: absolute;
					left: 25px;bottom: 5px;
					@include transform(rotate(5deg));
					@include media-breakpoint-down(sm) {
						left: 15px;
						width: 60%;
					}
				}
			}
			.aw{
				position: absolute;
				right: 0;top:40px;
				width: 105px;
				z-index: 1;
				@include media-breakpoint-down(md) {
					top: 70px;right: 10px;
					width: 92px;
				}
				@include media-breakpoint-down(sm) {
					top: auto;right: 0;
					bottom: 30px;
					width: 70px;
				}
			}
		}
		.box-txt{
			padding: 45px;
			margin-left: 45%;
			text-align: left;
			@include media-breakpoint-down(md) {
				margin-left: 0;
				padding: 35px 0 0 0;
			}
			@include media-breakpoint-down(sm) {
				padding: 25px 0 0 0;
			}
			.head{
				font-size: 36px;
				font-family: $rsu-bold;
				@include media-breakpoint-down(md) {
					font-size: 26px;
				}
				@include media-breakpoint-down(sm) {
					font-size: 22px;
				}
			}
		}
	}
	.box-quote{
		background-color: #ebebeb;
		padding: 60px 0 30px 0;
		@include media-breakpoint-down(md) {
			padding: 30px 0 15px 0;
		}
		blockquote{
			font-family: $rsu-bold;
			font-size: 24px;
			@include media-breakpoint-down(md) {
				font-size: 22px;
			}
			&:before,&:after{
				font-family: $rsu-bold;
				font-size: 56px;
				display: inline-block;
				position: relative;
				top: 10px;
				line-height: 24px;
			}
			&:before{
				content: '“ ';
			}
			&:after{
				content: ' ”';
			}
		}
	}
	.tag-list{
		margin: 30px -5px 15px -5px;
		@include media-breakpoint-down(md) {
			margin: 15px -5px 0 -5px;
		}
	}
}
.page-tab-selection{
	margin: 15px auto;
	list-style: none;
	padding: 0;
	@include flexbox(wrap);
	max-width: 70%;
	min-width: auto;
	@include media-breakpoint-down(sm) {
		max-width: 100%;
		width: 100%;
		@include flexbox(nowrap);
		overflow: auto;
	}
	li{
		width: auto;
		flex:1 0 auto;
		border-top:1px solid #fff;
		border-bottom:1px solid #fff;
		padding-left: 1px;
		position: relative;
		&:first-child{
			&:before{
				display: none;
			}
		}
		&:before{
			content: "";
			display: block;
			background: #fff;
			width: 1px;height: 20px;
			position: absolute;
			left: 0;top:50%;
			@include transform(translateY(-50%));
		}
		&:hover{
			a{
				background: rgba(255,255,255,0.15);
			}
		}
		&.active{
			a{
				background: $red;
			}
		}
		a{
			font-size: 20px;
			font-family: $rsu-bold;
			color:#fff;
			padding: 9px 10px;
			display: block;
			text-align: center;
			@include media-breakpoint-down(md) {
				font-size: 18px;
			}
		}
	}
}

/* HOME
====================================== */
//HEROBANNER
.herobanner{
	.slick-dots{
		position: absolute;
		left:0;bottom:20px;
		z-index: 1;
		text-align: center;
		padding: 0;
		margin: 0;
		width: 100%;height: 18px;
		@include media-breakpoint-down(sm) {
			bottom: 10px;
		}
		li{
			width: 18px;height: 18px;
			border-radius: 50%;
			display: inline-block;
			margin: 0 5px;
			&.slick-active{
				button{
					border-color: $blue;
				}
			}
			button{
				@include reset-input;
				background-color: #fff;
				width: 18px;height: 18px;
				border-radius: 50%;
				border:3px solid #fff;
				text-indent: -9999px;
			}
		}
	}
	.img-slider{
		.item{
			img{
				width: 100%;
			}
		}
	}
	.event-slider-container{
		background: url('../img/bg_wood.jpg') 50% 50%/100% auto repeat-y;
		padding: 25px 0;
		@include media-breakpoint-down(sm) {
			padding: 15px 0;
		}
		.head-section{
			background: none;
		}
		.slick-arrow{
			background-color: transparent;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 32px auto;
			border:none;
			cursor: pointer;
			display: block;
			width: 70px;height: 100%;
			position: absolute;
			top:0;
			z-index: 2;
			opacity: 0.7;
			text-indent: -9999px;
			@include media-breakpoint-down(md) {
				opacity: 1;
			}
			@include media-breakpoint-down(sm) {
				top:auto;bottom: 0;
				height: 40px;width: 40px;
			}
			&:hover{
				opacity: 1;
			}
			&.slick-prev{
				background-image: url('../img/icon_arrow-left-slim-white.svg');
				left: -70px;
				@include media-breakpoint-down(sm) {
					left: 0;
				}
			}
			&.slick-next{
				background-image: url('../img/icon_arrow-right-slim-white.svg');
				right: -70px;
				@include media-breakpoint-down(sm) {
					right: 0;
				}
			}
		}
	}
	.event-slider{
		.slick-track{
			@include flexbox(nowrap);
		}
		.slick-slide{
			height: auto;
		}
		.item{
			padding: 35px 15px 0 15px;
			@include abs(flex,1 0 auto);
			@include media-breakpoint-down(md) {
				padding: 35px 8px 0 8px;
			}
			@include media-breakpoint-down(sm) {
				padding: 25px 8px 0 8px;
			}
			&:nth-child(2n){
				.article-item{
					&:before{
						background-image: url('../img/pin-02.png');
						background-size: 51px auto;
						width: 51px;height: 56px;
						margin-left: -10px;
						@include media-breakpoint-down(sm) {
							background-size: 40px auto;
							width: 40px;height: 44px;
							margin-left: -10px;
						}
					}
				}
			}
		}
	}
	.article-item{
		margin-bottom: 60px;
	}
}

// ARTICLE BANNER
.article-banner{
	position: relative;
	display: block;
	&:hover{
		.box-txt{
			background-color: rgba(0,114,188,0.8);
		}
	}
	&.x-half{
		.box-img{
			&:before{
				padding-bottom: 50%;
			}
		}
	}
	&.x-sm-half{
		@include media-breakpoint-down(sm) {
		.box-img{
			&:before{
				padding-bottom: 50%;
			}
		}
		}
	}
	&.txt-left{
		.box-txt{
			.inner{
				padding-right: 50%;
			}
		}
	}
	&.txt-right{
		.box-txt{
			.inner{
				padding-left: 50%;
			}
		}
	}
	.box-img,.box-txt{
		display: block;
	}
	.box-img{
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		&:before{
			content:"";
			width: 100%;
			padding-bottom: 100%;
			display: block;
		}
	}
	.box-txt{
		background-color: rgba(0,0,0,0.35);
		width: 100%;height: 100%;
		position: absolute;
		top:0;left:0;
		z-index: 2;
		color:#fff;
		padding: 25px;
		@include transit(background-color 350ms ease);
		@include media-breakpoint-down(sm) {
			padding: 20px;
		}
		.inner{
			border:2px solid rgba(255,255,255,0.7);
			height: 100%;
			padding: 25px;
			@include flexbox(wrap);
			align-content:center;
			text-align: center;
			justify-content: center;
			flex-flow:column;
			@include media-breakpoint-down(lg) {
				padding:0;
			}
		}
		.headline{
			line-height: 1;
		}
		.summary{
			padding: 0 10px;
		}
		.txt-readmore{
			.txt{
				text-decoration: underline;
			}
			.fa{
				&.right{
					margin-left: 4px;
				}
			}
		}
		.divider-h{
			background-color: #fff;
			width: 50px;height: 3px;
			display: block;
			margin: 0 auto;
		}
	}
}

.section-prnews{
	.article-container{
		padding: 60px 0;
		@include media-breakpoint-down(md) {
			padding: 30px 0;
		}
	}
}

/* ABOUT US
====================================== */
.about-list-container{
	list-style:none;
	margin-top: 0;
	padding: 0;
	.item{
		padding: 15px 0;
		border-top:1px solid #d7d7d7;
		@include clearfix;
		&:first-child{
			border:none;
		}
		.box-img,.box-txt{
			float: left;
			@include media-breakpoint-down(sm) {
				float: none;
				clear: both;
			}
		}
		.box-img{
			width: 104px;
			margin: 0 auto;
		}
		.box-txt{
			width: calc(100% - 104px);
			padding-left: 60px;
			@include media-breakpoint-down(sm) {
				width: 100%;
				padding-left: 0;
			}
		}
	}
}

/* MAIN ARTICLE
====================================== */
.main-article{
	.section{
		margin-bottom: 30px;
	}
	.main-img{
		@include media-breakpoint-down(sm) {
			margin-left:-20px;
			margin-right:-20px;
		}
	}
	.popup-img,
	.popup-imgmobile{
		display: block;
		position: relative;
		&:hover{
			filter:brightness(110%);
		}
		&:before{
			background: url('../img/icon_zoom.png') 50% 50%/32px auto no-repeat;
			position: absolute;
			bottom: 4px;right: 4px;
			content: "";
			display: block;
			width: 40px;height: 40px;
			z-index: 2;
			filter:drop-shadow(0 0 2px rgba(0,0,0,0.6));
		}
	}
	.header{
		margin: 30px 0 20px 0;
		@include media-breakpoint-down(sm) {
			margin: 20px 0;
		}
		.headline,
		.subhead{
			font-family: $rsu-bold;
			margin: 0;
		}
		.headline{
			font-size: 36px;
			color:$blue;
			line-height: 1.2;
			@include media-breakpoint-down(sm) {
				font-size: 22px;
			}
		}
		.subhead{
			font-size: 30px;
			@include media-breakpoint-down(sm) {
				font-size: 18px;
			}
		}
		.box-date-blue{
			background-color: $blue;
			color:#fff;
			font-family: $rsu;
			padding: 5px 15px;
			display: inline-block;
			margin-top: 5px;
			margin-bottom: 10px;
		}
		.hgroup{
			margin-bottom: 20px;
			.txt{
				margin-top: -3px;
			}
		}
	}
	.head{
		font-family: $rsu-bold;
		font-size: 30px;
		@include media-breakpoint-down(sm) {
			font-size: 22px;
			margin-top: 0;
		}
	}
	.intro{
		background-color: #e7e7e7;
		padding:15px 0;
		margin:0 0 15px 0;
	}
	.body{
		/*b,
		strong{
			font-weight: 700;
		}
		 ul{
			li{
				list-style: none;
				position: relative;
				&:before{
					content: "-";
					display: inline-block;
					position: absolute;
					left: -15px;top:0;
				}
			}
		} */
	}
	.footer{
		border-top:1px solid #d7d7d7;
		padding: 15px 0;
		margin: 15px 0;
		@include media-breakpoint-down(sm) {
			padding: 0;
		}
	}
}
.section-map{
	background-color: #ebebeb;
	padding: 30px 0;
	@include media-breakpoint-down(sm) {
		padding: 15px 0;
	}
	.head{
		font-family: $rsu-bold;
		font-size: 30px;
		@include media-breakpoint-down(sm) {
			font-size: 22px;
			margin-top: 0;
		}
	}
	.box-map{
		margin: 30px 0;
		border:1px solid #b7b7b7;
		@include media-breakpoint-down(sm) {
			margin: 15px 0;
		}
	}
}

/* KNOWLEDGE KING
====================================== */
.knowledge-king{
	.part{
		padding: 40px 0;
		@include media-breakpoint-down(md) {
			padding: 20px 0;
		}
		img{
			margin: 0 auto;
			@include media-breakpoint-down(md) {
				margin: 15px auto;
			}
		}
	}
	.part-1{
		background: url('../img/knowledge-king-part.jpg') 50% 100%/100% auto no-repeat;
		margin-top: -30px;
		@include media-breakpoint-down(md) {
			background: url('../img/knowledge-king-part-mobile.png') 50% 100%/100% auto no-repeat;
		}
	}
	.part-2{
		background: url('../img/knowledge-king-part-02.png') 50% 50%/100% auto no-repeat $blue;
		color:#fff;
		@include media-breakpoint-down(md) {
			background: url('../img/knowledge-king-part-mobile-02.png') 50% 0/100% auto no-repeat $blue;
		}
	}
	.part-3{
		background: url('../img/knowledge-king-part-03.jpg') 50% 0/100% auto no-repeat;
		@include media-breakpoint-down(md) {
			background: none;
			.box-img{
				background: url('../img/knowledge-king-part-mobile-03.png') 50% 0/100% auto no-repeat;
			}
		}
	}
	.subhead{
		font-family: $rsu-bold;
		color:$blue;
		font-size:36px;
		margin-bottom: 0;
		@include media-breakpoint-down(sm) {
			font-size: 30px;
		}
	}
	.head-line{
		margin: 0 auto 25px auto;
		@include media-breakpoint-down(sm) {
			margin: 0 auto 15px auto;
		}
	}
	.king-speech-slider{
		padding: 0 100px;
		@include media-breakpoint-down(sm) {
			padding: 0;
			margin-bottom: 45px;
		}
		.txt-head{
			font-family: $rsu-bold;
			font-size: 22px;
		}
		.slick-arrow{
			background-color: transparent;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 45px auto;
			border:none;
			cursor: pointer;
			display: block;
			width: 45px;height: 100%;
			position: absolute;
			top:0;
			z-index: 2;
			opacity: 0.7;
			text-indent: -9999px;
			@include media-breakpoint-down(md) {
				opacity: 1;
			}
			@include media-breakpoint-down(sm) {
				background-size: 40px auto;
				top:auto;bottom: -45px;
				height: 40px;width: 40px;
			}
			&:hover{
				opacity: 1;
			}
			&.slick-prev{
				background-image: url('../img/icon_arrow-left-blue.svg');
				left: 0;
			}
			&.slick-next{
				background-image: url('../img/icon_arrow-right-blue.svg');
				right: 0;
			}
		}
		.slick-dots{
			width: 100%;
			text-align: center;
			height: 10px;
			li{
				width: 10px;height: 10px;
				border-radius: 50%;
				display: inline-block;
				margin: 0 4px;
				&:hover{
					button{
						background-color: #bbb;
					}
				}
				&.slick-active,
				&.slick-active:hover{
					button{
						background-color: $blue;
					}
				}
				button{
					width: 10px;height: 10px;
					border-radius: 50%;
					border:none;
					background-color: #ccc;
					text-indent: -9999px;
				}
			}
		}
	}
	section{
		margin: 15px 0;
		padding: 15px 0;
	}
	.section-water{
		background:url('../img/knowledge-king-bg-water.png') right 60px bottom 0/415px auto no-repeat #efefef;
		@include media-breakpoint-down(sm) {
			background-size: 220px auto;
		}
	}
	.mt-x{
		margin-top: -50px;
		@include media-breakpoint-down(md) {
			margin-top: 30px;
		}
	}
	.line-divider-blue{
		width: 120px;
		margin:30px auto;
		height: 1px;
		background-color: $blue;
	}
	.bg-blue{
		background-color: $blue;
		color:#fff;
		.img{
			position: absolute;
			top:-50px;left: 0;
			@include media-breakpoint-down(md) {
				position: static;
				width: 100%;
			}
		}
	}
	.section-last{
		background-color: #efefef;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.img-md-center{
		display: inline-block;
		img{
			@include media-breakpoint-down(md) {
				margin-left: 20px;
			}
			@include media-breakpoint-down(sm) {
				margin-left: 10px;
			}
		}
	}
}

/* NEWS
====================================== */
.news-list{
	.header-page-banner{
		margin-bottom: 0;
		.inner{
			padding-bottom: 200px;
			@include media-breakpoint-down(md) {
				padding-bottom: 80px;
			}
		}
	}
	.article-container{
		margin-top: -200px;
		min-height: 300px;
		.article-item{
			opacity: 0;
			visibility: hidden;
			@include transform(scale(0.3));
			@include transit(350ms all ease);
			&.show{
				opacity: 1;
				visibility: visible;
				@include transform(scale(1));
			}
			&.vdo-item{
				.box-img{
					&:before{
						padding-bottom: 75%;
					}
				}
			}
			.box-img{
				background: url('../img/loading-bar.svg') 50% 50%/40px auto no-repeat #fff;
				position: relative;
				&:before{
					padding-bottom: 99%;
					content: "";
					display: block;
				}
				img{
					position: absolute;
					top:0;left:0;
					width: 100%;
				}
			}
		}
		&.loading{
			background: url('../img/loading-white.svg') 50% 50px/100px auto no-repeat;
			.article-item{
				opacity: 0;
				visibility: hidden;
			}
		}
		@include media-breakpoint-down(md) {
			margin-top: -80px;
		}
	}
}

/* CONTACT
====================================== */
.contact{
	&+.main-footer{
		margin-top: 0;
	}
	.box-map{
		width: 100%;height: 100%;
		@include media-breakpoint-down(md) {
			height: 400px;
		}
		@include media-breakpoint-down(sm) {
			height: 280px;
		}
	}
	.frm-contact{
		overflow: hidden;
		@include media-breakpoint-down(md) {
			padding: 15px 0;
		}
		.inner{
			width: 100%;
			padding: 0 15px;
			max-width: 500px;
			margin: 15px auto;
			@include media-breakpoint-down(md) {
				margin: 0 auto;
			}
		}
		.head{
			font-size: 36px;
			@include media-breakpoint-down(md) {
				font-size: 26px;
			}
			@include media-breakpoint-down(sm) {
				font-size: 20px;
			}
		}
	}
}

/* EVENT
====================================== */
.section-event-gallery{
	.row-slider{
		@include media-breakpoint-down(sm) {
			overflow: auto;
			flex-wrap:nowrap;
		}
	}
	.item{
		display: block;
		margin-bottom: 30px;
		position: relative;
		&:hover{
			box-shadow: 0 0 0 2px $blue;
			&:before{
				opacity: 1;
			}
		}
		&:before{
			background-color: rgba(0,0,0,0.5);
			width: 100%;height: 100%;
			content: "";
			display: block;
			position: absolute;
			top:0;left:0;
			z-index:2;
			opacity: 0;
			@include transit(0);
		}
		img{width: 100%;}
	}
}
.event{
	background: url('../img/bg_wood.jpg') 50% 0/100% auto repeat-y;
	.event-slider-container{
		background: url('../img/bg_line-event-01.png') 50% 0/100% auto no-repeat;
		@include media-breakpoint-down(md) {
			background-size: 110% auto;
			padding-left: 50px;
			padding-right: 50px;
		}
		@include media-breakpoint-down(sm) {
			background-size: 150% auto;
			background-position: -45px 0;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 30px;
		}
		.box-txt-overlay{
			background-color: rgba(0,0,0,0.5);
			padding: 0 0 15px 0;
			margin-bottom: 25px;
			@include media-breakpoint-down(md) {
				padding: 15px;
			}
		}
	}
	.head-section{
		@include media-breakpoint-down(md) {
			padding: 0;
		}
	}
}

// TIMELINE
.event-timeline{
	background: url('../img/bg_line-event-02.png') 50% 0/100% auto no-repeat;
	padding-bottom: 30px;
	padding-top: 80px;
	margin-top: -30px;
	@include media-breakpoint-down(md) {
		padding-top: 40px;
	}
}
.timeline-container{
	background: url('../img/timeline-line-center.png') 50% top/4px auto repeat-y;
	margin: 30px 0;
	position: relative;
	float: left;
	@include media-breakpoint-down(sm) {
		margin: 0 0 30px 0;
		padding-top: 60px;
	}
	&:before,
	&:after{
		background-color: $blue;
		position: absolute;
		left: 50%;
		width: 16px;height: 16px;
		border-radius: 50%;
		display: block;
		margin-left: -8px;
		content: "";
	}
	&:before{
		top:0;
	}
	&:after{
		bottom: 0;
	}
	.timeline-item{
		background-image: url('../img/timeline-line-left.png');
		background-repeat: no-repeat;
		background-position: right 50%;
		background-size: 388px auto;
		padding-right: 16%;
		width: 50%;
		float: left;
		@include media-breakpoint-down(md) {
			background-position: right -50px top 50%;
			padding-right: 60px;
		}
		@include media-breakpoint-down(sm) {
			background-position: right -80px top 50%;
			padding-right: 30px;
		}
		@include media-breakpoint-down(xs) {
			background:none;
			padding-right: 0;
			float: none;
			width: 100%;
		}
		&:first-child{
			margin-top: 0;
		}
		&:first-child+.timeline-item{
			margin-top: 25%;
			@include media-breakpoint-down(xs) {
				margin-top: 0;
			}
		}
		&:nth-child(2n){
			background-image: url('../img/timeline-line-right.png');
			background-position: left 50%;
			padding-left: 16%;
			padding-right: 0;
			float: right;
			@include media-breakpoint-down(md) {
				background-position: left -50px top 50%;
				padding-left: 60px;
			}
			@include media-breakpoint-down(sm) {
				background-position: left -80px top 50%;
				padding-left: 30px;
			}
			@include media-breakpoint-down(xs) {
				background:none;
				padding-left: 0;
				float: none;
			}
			.article-item{
				&:before{
					background-image: url('../img/pin-02.png');
					background-size: 51px auto;
					width: 51px;height: 56px;
					margin-left: -10px;
					@include media-breakpoint-down(sm) {
						background-size: 40px auto;
						width: 40px;height: 44px;
						margin-left: -10px;
					}
				}
			}
		}
		.article-item{
			&:before{
				background-image: url('../img/pin-red-left.png');
				@include media-breakpoint-down(sm) {
					background-size: 50px auto;
					top:-25px;
					width: 50px;height: 37px;
					margin-left: -25px;
				}
			}
		}
	}
}
// REGISTER
.event-register{
	background-color: #ebebeb;
	.header{
		margin:30px auto;
		.head-section{
			text-align: left;
			color:#707070;
			padding:0;
		}
	}
}

/* MEDIA DETAIL
====================================== */
.media-theater{
	.btn-back{
		background: url('../img/icon_arrow-left-white.svg') 0 50%/auto 100% no-repeat;
		padding: 5px 0 5px 35px;
		color:#fff;
		opacity: 0.7;
		margin: 25px 0;
		display: block;
		@include media-breakpoint-down(md) {
			opacity: 1;
		}
		&:hover{
			opacity: 1;
			text-decoration: underline;
		}
	}
	[class^='btn-nav'],
	.slick-arrow{
		background-color: transparent;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 24px auto;
		border:none;
		cursor: pointer;
		display: block;
		width: 30px;height: 100%;
		position: absolute;
		top:0;
		z-index: 2;
		opacity: 0.7;
		text-indent: -9999px;
		@include media-breakpoint-down(md) {
			opacity: 1;
		}
		&:hover{
			opacity: 1;
		}
		&.btn-nav-prev,
		&.slick-prev{
			background-image: url('../img/icon_arrow-left-white.svg');
			left: 0;
		}
		&.btn-nav-next,
		&.slick-next{
			background-image: url('../img/icon_arrow-right-white.svg');
			right: 0;
		}
	}
	.media-body{
		background: #000;
	}
	.media-view-container{
		position: relative;
		margin: 15px 0;
		.media-view{
			img{
				width: 100%;
			}
		}
		[class^='btn-nav']{
			background-size: 32px auto;
			width: 80px;
			@include media-breakpoint-down(md) {
				width: 60px;
			}
			@include media-breakpoint-down(sm) {
				width: 35px;
			}
			&.btn-nav-prev{
				left: -80px;
				@include media-breakpoint-down(md) {
					left: 0;
				}
			}
			&.btn-nav-next{
				right: -80px;
				@include media-breakpoint-down(md) {
					right: 0;
				}
			}
		}
	}
	.media-list-container{
		text-align: center;
		[class^='btn-nav']{
			background-size: 22px auto;
		}
		.media-list-slider{
			width: 60%;
			padding: 0 30px;
			margin: 25px auto;
			visibility: hidden;
			opacity: 0;
			&.slick-initialized{
				visibility: visible;
				opacity: 1;
				@include transit(350ms opacity 200ms ease);
			}
			@include media-breakpoint-down(sm) {
				width: 100%;
				padding: 0 30px;
				margin: 15px auto;
			}
			.item{
				padding: 0 5px;
			}
			a{
				display: block;
				&:hover{
					img{
						opacity: 0.9;
					}
				}
				img{
					width: 100%;
				}
			}
		}
	}
	.media-detail{
		margin: 15px 0;
	}
}

/* POPUP
====================================== */
.popup{
	width: 100%;
	max-width: 800px;
	padding: 15px;
	@include media-breakpoint-down(sm) {
		padding: 10px 0;
	}
	a{
		color:$blue;
		text-decoration: underline;
	}
}


/* PRODUCT
====================================== */
.product-item{
	text-align: center;
	border:1px solid #CCCBCB;
	margin: 0 0 30px 0;
	padding-left: 15px;
	padding-right: 15px;
	@include flexbox(wrap);
	flex-flow:column;
	width: 100%;
	height: calc(100% - 30px);
	@include media-breakpoint-down(sm) {
		height: auto;
	}
	p{
		width: 100%;
	}
	.img,.txt{
		display: block;
	}
	.img{
		img{
			width: 100%;
			max-width: 200px;
			margin: 0 auto;
		}
	}
	.txt{
		font-weight:700;
		flex:1 0 auto;
	}
	.btn-red{
		width: 100%;
	}
}